<div class="row">
  {{#if success_msg}}
    <div class="alert alert-success col-md-6 col-xs-6 mx-auto">{{success_msg}}</div>
  {{/if}}

  {{#if error_msg}}
    <div class="alert alert-danger col-md-6 col-xs-6 mx-auto">{{error_msg}}</div>
  {{/if}}
</div>